body {
    font-family: 'Roboto', sans-serif;
    background-color: #212121;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1a1a1a;
    color: #4CAF50;
    padding: 1em;
    text-align: center;
}

nav {
    background-color: #333;
    color: #4CAF50;
    padding: 1em;
    text-align: center;
}

nav a {
    color: #4CAF50;
    text-decoration: none;
    padding: 1em;
    margin: 0 1em;
    font-weight: bold;
}

section {
    padding: 2em;
}

footer {
    background-color: #1a1a1a;
    color: #4CAF50;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.highlight {
    color: #FFD700;
}

.electronic-border {
    border: 2px solid #4caf50;
    padding: 1em;
    margin: 1em 0;
}

.button {
    background-color: #4CAF50;
    color: #fff;
    padding: 1em 2em;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    font-size: 1em;
    margin-top: 1em;
}

 /* unvisited link */
 a:link {
    color: white;
  }
  
  /* visited link */
  a:visited {
    color: white;
  }
  
  /* mouse over link */
  a:hover {
    color: #4caf50;
  }
  
  /* selected link */
  a:active {
    color: white;
  } 

  fieldset {
    background-color: white;
  }